$core-dark-text-color: $black !default;
$core-dark-text-secondary-color: darken($gray, 40%) !default;
$core-dark-link-color: $blue-dark !default;

$core-dark-item-bg-color: $gray-light !default;
$core-dark-item-divider-bg-color: $gray-light !default;
$core-dark-background-color: $white !default;

//Custom
$open-color:      #BA0611;
$open-color-light:      mix($open-color, white, 20%) !default;
$open-color-dark:            darken($open-color, 10%) !default;

// Login.
$core-dark-login-page-background-color: $white;
$core-dark-login-box-background-color: $white !default;
$core-dark-login-box-background-border: $core-login-box-background-border !default;
$core-dark-login-box-text-color: $core-dark-text-color !default;
$core-dark-login-item-inner-background-color: $core-dark-login-box-background-color !default;
$core-dark-login-item-background-color: $core-dark-login-box-background-color !default;
$core-dark-login-button-outline: $core-login-button-outline !default;
$core-dark-login-loading-color: $core-dark-text-color !default;

