ion-app.app-root page-core-login-credentials,
ion-app.app-root page-core-login-reconnect,
ion-app.app-root page-core-login-site {
    .scroll-content {
        //background: $core-login-page-background-color;

        //Custom Open LMS
        background: #202020;

        @include darkmode() {
            background: $core-dark-login-page-background-color;
        }
    }

    img {
        max-width: 100%;
    }

    img.login-logo {
        width: 90%;
        max-width: 300px;
    }

    .box {
        padding: 16px;
        margin: 8px;
        background: $core-login-box-background-color;
        //border: 1px solid $core-login-box-background-border;
        color: $core-login-box-text-color;

        //Custom Open LMS
        border: 1px solid $black;

        @include darkmode() {
            background: $core-dark-login-box-background-color;
            border-color: $core-dark-login-box-background-border;
            color: $core-dark-login-box-text-color;
        }
    }

    .core-sitename, .core-siteurl {
        @if $core-fixed-url { display: none; }
    }

    @if $core-login-button-outline {
        .button-md.button-default-md, .button-ios.button-default-ios {
            @extend .button-md-light;
        }
    }

    @if $core-login-loading-color {
        .core-loading-container {
            color: $core-login-loading-color;

            .spinner circle, .spinner line {
                stroke: $core-login-loading-color;
            }
        }
    }

    @if $core-dark-login-button-outline {
        .button-md.button-default-md, .button-ios.button-default-ios {
            @extend .button-md-light;
        }
    }

    @include darkmode() {
        .core-loading-container {
            color: $core-dark-login-loading-color;

            .spinner circle, .spinner line {
                stroke: $core-dark-login-loading-color;
            }
        }
    }

    .item-input {
        margin-bottom: 20px;
    }

    //Open LMS Custom

    //Custom Style for login general buttons
    .button-md.button-default-md, .button-ios.button-default-ios {
        border-radius: 20px;
    }

    //login button
    .core-login-form .button-md.button-default-md, .button-ios.button-default-ios {
        background-color: $black;
        color: $white;
    }

    //forget button
    .core-login-forgotten-password .button-md.button-default-md, .button-ios.button-default-ios{
        background-color: #cbcbcb;
        color: $black;
    }
    
    //Remove site url from login
    .core-sitename, .core-siteurl {
        display: none;
    }

    //turururururu
    //Cuadro fondo login
    .core-loading-content .box.ng-star-inserted {
        background-color: #1f1f1f;
    }

    .item.item-block.item-md.item-input.ng-star-inserted {
        background-color: #e3e3e3;
    }

}
